[2016-10-09 17:07] xabre opened #1 "Bindable badge color"
Add a attached property for badge color.

[2016-10-17 21:34] xabre opened #2 "Take into account dynamically changing tabs"
Currently tabs badges are assigned statically when the tabbed page renderer is invoked. Enable the badegs to track their tabs if removed/reordered/added etc

[2016-10-21 09:08] xabre commented on #1
Closed 1.1.0-beta2

[2016-10-21 09:08] #1 closed

[2016-10-31 07:35] Tak1wa opened #3 "It is not hidden badge (only iOS, empty val )"
If you tried to hide the badge in the 'empty value' in the iOS, empty badge is displayed. On the other hand, it is hidden in Android.

[2016-11-01 11:44] GalFriD commented on #3
try put null and not string.empty

[2016-11-01 11:45] GalFriD opened #4 "getting an exception in ios"
System.MissingMethodException: Method 'UITabBarItem.set_BadgeColor' not found.

getting this exception when trying to run this on IOS
(on android its working fine.)

have any ideas?

Thanx

[2016-11-01 11:53] xabre commented on #4
This look like a linker issue. You might need to update your linker please include file.

add these lines to you LinkerPleaseInclude.cs
[code]

[2016-11-01 11:56] xabre commented on #3
yes, this might be because of the default behaviour on ios ...

[2016-11-01 11:59] xabre opened #5 "Linker safety"
- [ ] mark assemblies as linker safe
`
[assembly:LinkerSafe]
`

[2016-11-01 16:45] GalFriD commented on #4
i think it was the problem
but after i update it I cant check it on my mac because it says the its not update but i update my mac as well and my xamarin there is up to date
have any idea?

[2016-11-02 15:41] Tak1wa commented on #3
Thanks for support!!!

[2016-11-02 15:41] #3 closed

[2016-11-03 16:18] xabre commented on #5
Added instructions for linker please include in Readme

[2016-11-14 08:56] xabre commented on #4
Is this still an issue?

[2016-11-19 22:30] #4 closed

[2016-11-22 11:36] xabre opened #6 "Add unified support for empty badge"
Currently setting the text to **string.Empty** hides the badge. The extanded functionality should support the following:
<img width="125" alt="687474703a2f2f692e696d6775722e636f6d2f7268694b4f50482e706e67" src="https://cloud.githubusercontent.com/assets/6204446/20522352/1cfec076-b0b0-11e6-885d-38ade1ad105b.png">

[2016-12-04 22:13] allbdeveloper opened #7 "SetBadgeColor exception crash on iOS9."
Hi,

It crash on iOS9(iPhone 5) if I use setbadgecolor.
It's working fine on iOS10. (tested on iPhone 7)

I have a sample code that reproduce it.

Thanks.

[2016-12-04 22:13] allbdeveloper commented on #7
[badgetest.zip](https://github.com/xabre/xamarin-forms-tab-badge/files/629864/badgetest.zip)

[2016-12-04 22:13] allbdeveloper commented on #7
![screen shot 2016-12-05 at 7 08 05 am](https://cloud.githubusercontent.com/assets/14910356/20869657/5f9df104-baba-11e6-84dd-949cbcf318c3.png)

[2016-12-04 22:18] allbdeveloper commented on #7
Plus, adding LinkerIncludeMe.cs does not make change.

[2016-12-05 11:45] xabre commented on #7
It seems that setBadgeColor is only available starting from iOS 10.

[2016-12-19 19:55] xabre commented on #7
Added check in 1.0.1. Should not crash anymore.

[2016-12-19 19:55] #7 closed

[2016-12-19 21:12] allbdeveloper commented on #7
Thanks Adrian.

[2017-01-02 14:01] elyfran opened #8 "Change the position"
Would it be possible to change the position to bottom??

thx

[2017-01-03 19:54] xabre commented on #8
Would only work on Android ... iOS uses the standard offering from Apple.

[2017-01-08 21:03] shayo opened #9 "Set Tab height? [Feature request / Question]"
Is there a way to setup the tab height with this custom renderer?

[2017-01-08 22:29] shayo opened #10 "Hide/Show all tabs"
Is there a way to hide/show all tabs?

[2017-01-08 23:47] shayo commented on #10
Sorry for the multiple issues opened.
Is there a way to determine the position of the badge in the tab?

[2017-02-03 21:14] lDemurl opened #11 "- [NSObject get_SuperHandle()]"
Hi, i recently have this issue, with iOS 10.2.1

System.ObjectDisposedException: Cannot access a disposed object.

- [NSObject get_SuperHandle()]
`Object name: 'BadgedTabbedPageRenderer'.
  at Foundation.NSObject.get_SuperHandle () <0x100d5f400 + 0x00080> in <d9a64a30a9e54cff99bd5519750ca6b8#bb7dfffeb7c9e3019dd7cb5c249b3d5e>:0
  at UIKit.UITabBarController.get_TabBar () <0x100dde960 + 0x00063> in

[2017-02-04 12:48] xabre commented on #11
Can you describe your scenario? Maybe add some steps so I can reproduce it? :)

[2017-02-08 10:21] b2-ra opened #12 "Specified cast is not valid. Error"
I got a following exception for Android.
"System.InvalidCastException: Specified cast is not valid. Error"

If I comment out
[assembly: ExportRenderer(typeof(TabbedPage), typeof(BadgedTabbedPageRenderer))]
in AssembliInfo.cs, my project is no issue.

Do you know a way to resolve it?

[2017-02-08 10:36] xabre commented on #12
Hi. I will need more information. Do you have a full stack trace? Do you have a custom renderer for your TabbedPage?

[2017-02-09 00:20] b2-ra commented on #12
I refered to your github(https://github.com/xabre/xamarin-forms-tab-badge/tree/master/Source/Sample).
I dont have a custom renderer.
My TabbedPage for iOS is no problem.

[2017-02-10 08:03] dlacan commented on #12
I have exactly the same problem on my project.
It happens at startup on Android N (tested on a 7.0 OnePlus 3 and on a 7.1 Nexus 5X), but not on previous versions of Android.

Here is a stack trace :
`  at Xamarin.Forms.Platform.Android.Platform.Xamarin.Forms.Platform.Android.IPlatformLayout.OnLayout (System.Boolean changed, System.Int32 l, System.Int32 t, System.Int32 r, System.Int32 b) [0x000a7]

[2017-02-10 17:43] dlacan commented on #12
Finally, I fixed the problem.

I just have to inherit FormsAppCompatActivity in my MainActivity, instead of FormsApplicationActivity.

[2017-02-11 11:11] xabre commented on #12
Yeah, you're reight, it only works with the app compat tablayout. I will write this in the documentation

[2017-02-12 09:33] b2-ra commented on #12
I fixed this problem,finally!

Thanks a lot :)

[2017-02-18 15:38] #12 closed

[2017-03-30 05:45] maniacube opened #13 "Badge Is not working in android"
Hi,

I have downloaded the sample project which is available in "https://github.com/xabre/xamarin-forms-tab-badge". Then when i tried to run that app in iOS device, it is working fine. But in android, i am getting crash with out any reason. Can you guys please help us to resolve the issue and it should work perfectly in android devices too.

Thanks & Regards,
Manigandan V.

[2017-03-30 22:10] xabre commented on #13
I need more info. Please copy paste the application output or logcat output so that we can see a stacktrace.

[2017-04-03 11:54] maniacube commented on #13
@xabre,

              I am not getting any error message in logcat. i am getting crash only. And i didnt do anything extra work in the downloaded project. What ever the sample project available in the "https://github.com/xabre/xamarin-forms-tab-badge" link, i just downloaded and tried to run the app in android. I am not even able to see the initial screen itself.

[2017-04-07 11:10] xabre commented on #13
Did you check your Xamarin update status and Android SDK status? Make sure everything is up to date. (i.e. build tools, sdk etc)

[2017-04-21 18:27] adamhockemeyer opened #14 "Java.Lang.ClassNotFoundException: Didn't find class "md5b6ca426d13ed509e21ee11c0a2720082.BadgedTabbedPageRenderer" on path: DexPathList"
Getting this error on a Xamarin Forms app.

This was working until recent updates.

Xamarin Forms Version 2.3.4.231
Plugin.Badge Version 1.0.1

Java.Lang.ClassNotFoundException: Didn't find class "md5b6ca426d13ed509e21ee11c0a2720082.BadgedTabbedPageRenderer" on path: DexPathList[[zip file "/data/app/[identifier]-1/base.apk"],nativeLibraryDirectories=[/data/app/[identifier]-1/lib/x86, /data/app/[id

[2017-04-24 18:40] adamhockemeyer commented on #14
I ended up updating the Android SDK's with the SDK manager, and after updating, closing the SDK manager, opening it again, updating again, it resolved my issue.

[2017-04-24 18:40] #14 closed

[2017-05-07 14:51] xamarindevelopervietnam opened #15 "Issue when update to api 25.3.1"
can't find TabLayout.SlidingTabStrip class when update api to 25.3.1

[2017-05-07 14:52] xamarindevelopervietnam commented on #15
line 23 of https://github.com/xabre/xamarin-forms-tab-badge/blob/master/Source/Plugin.Badge.Droid/BadgedTabbedPageRenderer.cs

[2017-05-09 06:22] benevbright commented on #15
same here

[2017-06-09 16:23] triplumix opened #18 "How do you hide the badge?"
How do you hide the badge if the value is 0?
Binding color doesn't seem to be a good idea since it doesn't work on iOS < 10

[2017-06-09 16:38] triplumix commented on #18
"**Showning / Hiding the badge**

If the value of the BadgeText is set to null or empty string the badge is hidden. To show it again set a non null or empty value"

Sorry, my mistake. I've missed this line.

[2017-06-11 02:05] Nerololo commented on #15
Disable linking an will work, i cant get work skipping that dll

[2017-06-11 03:15] Nerololo commented on #15
Same here!. Its look like in Android 25.3.1 TabLayout.SlidingTabStrip not exist any more

[2017-06-12 09:54] emeric0101 commented on #15
To fix it : just change SlidingTabStrip with LinearLayout

[2017-06-13 09:23] lanarchyste commented on #15
Thank you emeric0101 !

I will now be able to update some components that required the latest versions of the Android packages. :)

[2017-06-15 07:05] long-nguyentien commented on #10
Do you know how to hide tabbar ?

[2017-06-27 15:09] benevbright commented on #15
Will you release on the nuget gallery soon?
I'm waiting :)

[2017-06-27 15:12] xabre commented on #15
Thanks for your help guys. I've released an updated nuget package with this fix. :)

[2017-06-27 15:13] xabre commented on #13
Fixed with 1.0.2. Guessing was a duplicate of #15

[2017-06-27 15:13] #13 closed

[2017-06-28 06:30] benevbright commented on #15
Hi, I updated to 1.0.2 and I'm getting
no non-static method "Landroid/widget/TextViewl.setForegroundGravity(I)V"

and here is stacktrace.
![screen shot 2017-06-28 at 3 29 34 pm](https://user-images.githubusercontent.com/916690/27623275-a948b8e0-5c16-11e7-9ef6-35cb3b2ec7e4.png)

Is anyone facing same problem with me?

[2017-06-28 07:16] xabre commented on #15
Are you using linking? It seems that the method is removed?

Try adding this to your LinkerPleaseInclude in the android project:

[code]

PS: I added this call in the latest release, I think it's not really needed so I am going to remove it in the next one.

[2017-06-29 06:45] benevbright commented on #15
Opps strange,
I thought I wrote a comment but it is not here.

I tried your help but it does not work.
And changing Linker setting gives the same result.

It seems that the method is removed as you said.

[2017-06-29 06:46] benevbright commented on #15
It would be great if you could release an update.
Thanks xabre.

[2017-06-29 11:59] 14skywalker opened #19 "suggestion: TextColor property"
We have a dark tab background and would like to have a light BadgeColor. Without changing the TextColor the text would not be readable.

[2017-06-29 12:00] 14skywalker opened #20 "suggestion: badge position"
By default the badge is lifted from the baseline. We would like to be able to position the badge at the baseline.

[2017-06-29 13:54] xabre commented on #20
can you explain this with a simple drawing? if i'm getting this right you want to align the badge text with the tab text .... this will not work in ios, is only possible in android

[2017-06-29 14:23] xabre opened #21 "Change badge font attributes"
User should be able to change badge font attributes via binding:
- bold
- italic
- both
- none

[2017-06-29 14:29] xabre commented on #15
Should be fixed with the latest release 1.1.0.

[2017-06-29 14:29] #15 closed

[2017-06-29 14:30] xabre commented on #21
Possible since 1.1.0

[2017-06-29 14:30] #21 closed

[2017-06-29 14:31] xabre commented on #19
Thanks for the feature suggestion. Please try it out with the new version 1.1.0

[2017-06-29 14:31] #19 closed

[2017-06-30 11:09] 14skywalker commented on #20
Thanks for the response. Indeed only for android:

<img width="358" alt="schermafbeelding 2017-06-30 om 13 08 58" src="https://user-images.githubusercontent.com/701186/27733240-5a04c49c-5d95-11e7-9525-fd87e0120beb.png">

[2017-06-30 12:43] yoichinak opened #22 "UpdateTabBadgeTextAttributes() iOS < 10"
Would you please try `"setBadgeTextAttributes:forState:"` for selector ?

Thank you :)

[2017-07-14 11:47] denizz-ryzhkov opened #23 "Android API 15 - Java.Lang.NoSuchMethodError"
When I run plugin on Android API 15 devices, I got error: java.lang.NoSuchMethodError: no method with name='setBackground' signature='(Landroid/graphics/drawable/Drawable;)V' in class Landroid/widget/TextView

Its happens in BadgeView.cs line 97 - Background = _backgroundShape;
API Level 15 do not support method setBackground(Drawable), it was added in API Level 16. You can use SetBackgroundDrawab

[2017-07-17 14:56] pboisso opened #24 "UITabBarItem setBadgeTextAttributes:forState:]: unrecognized selector sent to instance"
Hi there,

We get error on iOS 9 for text attribute.  We saw documentation that this was not supported, but were not expecting the app to crash.

How would you recommend to handle iOS < 10 bindings?

Thanks.

Patrice

[2017-07-20 19:39] pboisso commented on #24
Reverted back to 1.0.1 and now it's working fine.  Definitely an issue with latest version.  Thanks.

[2017-07-21 11:06] xabre commented on #24
- [ ] Add selector check for ios < 10

[2017-07-23 11:40] xabre commented on #24
Should be fixed with the 1.1.1 release. :)

[2017-07-23 11:40] #24 closed

[2017-07-23 11:40] xabre commented on #22
Should be fixed with the 1.1.1 release. :)

[2017-07-23 11:40] #22 closed

[2017-07-23 13:58] pboisso commented on #24
Awesome, thanks so much ! Great plugin by the way !

[2017-07-26 12:55] pboisso opened #25 "Cannot access a disposed object. Object name: 'BadgedTabbedPageRenderer'"
Hi there,

After opening our app in the morning, the app crashed and it was related to badge so I report it here in case it might be useful.

The error was :

[code]

[2017-07-29 11:02] xabre commented on #25
Hi @pboisso, can you describe your scenario more in detail. Maybe some reproduction steps? Would help a lot :)

[2017-07-29 11:46] xabre commented on #23
Fixed with v 1.1.2

[2017-07-29 11:46] #23 closed

[2017-07-29 11:47] xabre commented on #11
No response since feb. Will close this issue.

[2017-07-29 11:47] #11 closed

[2017-07-29 14:19] pboisso commented on #25
Hi @xabre

This is a little tricky, but there is what I think happen...

1) We create a tab page with badges binded on the pageview model
2) After some user actions, we need to reload another tab page so we do with a new tabpage, etc.
3) Our app received updates on background threads that updates the old viewmodel
4) I think the bindings are somehow re-triggered (VM still living?), but the old tab

[2017-08-01 21:12] xabre commented on #25
Hi @pboisso i've attempted a fix in v 1.1.3. Maybe you can check it out an let me know :) Thanks

[2017-08-01 21:12] #25 closed

[2017-08-01 21:13] xabre opened #26 "UWP support"
;) support tab badges in UWP

[2017-08-07 13:25] Pool4Sky opened #27 "why got 150 warnings...."
I used this plugin for my project, and got 150+ following kind of warnings...

/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.targets(2,2): Warning XA0106: Skipping JumpinMobile.Droid.Resource.Attribute.mediaRouteControllerSecondaryTextStyle. Please check that your Nuget Package versions are compatible. (XA0106) (JumpinMobile.Droid)
...

[2017-08-08 02:50] pboisso commented on #25
Will do and keep you posted.  Thanks !!!

[2017-08-08 06:52] iforlife opened #28 "Binding: 'Page3TabBadge' property not found on 'MyProject.PageViewModels.Page3ViewModel', target property: 'MyProject.Pages.Page3.BadgeText'"
Hi,
first of all very nice plugin. There is a problem on Android though.

My scenario is as follows(the names are for example purposes):
- MainPage = NavigationPage(RootTabbedPage)
- RootTabbedPage is bound to its own RootTabPageViewModel which contains the properties the badges are bound to
- Inside the tabbed page are 4 pages - each one having their own ViewModels
- when the app starts all is ok

[2017-08-08 08:37] iforlife opened #29 "Some part of the previous badge is left when you set the badge to a shorter string"
set the badge to 1232, then set the same badge to 1

[2017-08-08 08:38] iforlife commented on #29
<img width="72" alt="screen shot 2017-08-08 at 11 38 18" src="https://user-images.githubusercontent.com/11709259/29063349-19964964-7c2e-11e7-9d9f-8f020ff24793.png">

[2017-08-08 10:06] xabre commented on #29
I'm assuming this is just android

[2017-08-08 14:07] angelSwp opened #30 "Put on the navbar"
Is it possible to put it on navbar?

[2017-08-08 19:41] xabre commented on #30
could you elaborate a bit?

[2017-08-08 19:43] xabre commented on #27
What xamarin forms version are you using? Without the plugin do you still get the warnings? Thes seems to be some warnings caused by the android support libraries

[2017-08-08 19:58] xabre commented on #28
I'm not sure I understand it completely. But if you set a different BindingContext on each page, then the tab badges will be bound to those BindingContexts. Would be cool if you had like a minimim reproduceable sample :P?

[2017-08-08 20:58] xabre commented on #29
Hi @iforlife
... does not seem to happen on my android 7 device. What version of android & plugin are you using? Can you describe your scenario a bit more in detail?

[2017-08-16 20:03] xabre opened #31 "MacOS support"
Add XamarinForms MacOS support.

[2017-08-16 20:54] xabre opened #32 "Support .NET standard"
Get ready for a 2.0 release targetting .NET Standard.

- [x] updated pcl to .net standard
- [x] update nuspec
- [x] test install

[2017-08-16 20:54] xabre commented on #26
Available in 1.2.0-beta3

[2017-08-16 20:54] #26 closed

[2017-08-16 20:56] xabre opened #33 "Update to XamarinForms 2.4.* -stable when released in Q3"

[2017-08-16 20:56] xabre commented on #31
Available in 1.3.0-pre

[2017-08-16 20:57] xabre commented on #27
Try the 1.3.0-pre release. I updated the Android Support libs to the latest stable. Maybe this will get rid of the warnings. I'm guessing they are caused by version missmatches

[2017-08-16 20:58] xabre commented on #27
Please reopen if still an issue. :)

[2017-08-16 20:58] #27 closed

[2017-08-16 21:04] xabre opened #34 "Platform specific configurations"
Allow customization of platform specific renderer settings:

- [ ] margins / constants
- [ ] layout styles
- [ ] tab style

[2017-08-16 21:05] xabre commented on #8
Will be implemented as part of #20

[2017-08-16 21:06] xabre commented on #30
@angelSwp Maybe give me a screenshot with a drawing of what you mean? How would this look like on the supported platforms?

[2017-08-21 07:04] dationguyen commented on #34
I am looking for the way to modify the text size as well. it's a bit too big for me.

[2017-08-22 00:13] hbraasch commented on #32
Splendid. Thanks. I think it will solve my current problem:
Skipping XXXXXXXXX.Droid.Resource.Drawable.avd_show_password_1. Please check that your Nuget Package versions are compatible

[2017-08-23 18:55] angelSwp commented on #30
I need to show badge count for toolbar icon in my project both iOS & android something looks like this

[](url)https://us.v-cdn.net/5019960/uploads/editor/jj/y8dirbu5a5id.png

[2017-08-25 20:47] #31 closed

[2017-08-25 20:47] xabre commented on #30
Interesting idea :) added it to the backlog

[2017-08-25 21:08] xabre commented on #9
Tab height is something your app theme will handle at least on android (ios is fixed :P)

[2017-08-25 21:08] #9 closed

[2017-08-29 07:43] Eiskaltereistee commented on #33
When will something happen here? I need this Plugin for Xamarin Forms 2.3.4.

After installation I got over 400 Warning and 5 Errors:
`/Volumes/Macintosh HD/Visual Studio/Xamarin/zajadacz/Droid/obj/Debug/android/src/mono/android/support/v4/app/SharedElementCallback_OnSharedElementsReadyListenerImplementor.java(47,47): Error:  error: cannot find symbol
		android.support.v4.app.SharedElementCallback

[2017-08-29 11:44] sumitsisodia007 commented on #13
Hi,
i have downl;oad version
I have downloaded the sample project which is available in "https://github.com/xabre/xamarin-forms-tab-badge". in android, i am getting Badge any tabes . Can you guys please help us to resolve the issue .
I have to try 1.0.2 version and already update xamarin.Form 2.3.4.247. but badge is not showing .

Thanks & Regards,

[2017-08-30 05:11] sumitsisodia007 opened #35 "Not Showing Badge icon ,Badge Color and Badge Text"
Hi,
I am using VS-2017 and update Xamarin Form Latest version.
i am using badge plugins 1.3.0 pre or 1.1.3  but not showing badge icon ,text and color.
what should i do any body can help me .
![screenshot_1504069434](https://user-images.githubusercontent.com/30065887/29856348-d9be22e6-8d6f-11e7-80cd-a5ece076075e.png)

Thanks for advance .

[2017-08-31 15:38] adamhockemeyer commented on #25
This fixed the issue for me FYI.

Thank you!

[2017-09-14 14:50] henriksen opened #36 "How to use BadgePosition on Android?"
I'd like to position a badge in the top-left position of the tab-text on Android, and I see that the BagdeView class has some support for this, I just can't figure out how and where to set it :)

How would I go about doing this?

[2017-09-20 08:01] benevbright commented on #35
Same here, I have no idea when it stopped working?!
I just noticed somehow that the badge is not showing.

Tested on Android.
XF ver : 2.3.4.270 stable
badge plugin : 1.1.3
tested device : Samsung Galaxy S4 - Android 5.0.1
Android SDK : 7.1(API 25)

Can we expect quick fix for this?
Thanks.

[2017-09-22 06:55] xabre commented on #35
I would fix it asap but, unfortunately I'm not able to reproduce it on my device/emulator.... Do you get any errors in your output/logcat?

[2017-09-23 08:21] benevbright commented on #35
Hi Adrian,

Yes. You are right.
I downloaded the sample and tested it after I updated all packages as I said above.
It turns out it works fine.

I should check again what did I mistake.
I'm sorry about it and thanks.

[2017-09-23 09:16] benevbright commented on #35
Hi, I found my mistake.
I don't know since when my code has changed, but my TabbedPageRenderer didn't inherit from BadgedTabbedPageRenderer.

I changed it and the problem is gone.

I'm sorry.

[2017-09-24 14:06] xabre commented on #8
Available starting with v1.2.0.

[2017-09-24 14:06] #8 closed

[2017-09-24 14:08] xabre commented on #36
Available starting with v1.2.0. :)

[2017-09-24 14:08] #36 closed

[2017-09-24 14:09] xabre commented on #20
TopLeft, TopRight, BottomLeft, BottomRight and Center available starting with v1.2.0.

- [ ] TopCenter, BottomCenter, LeftCenter, RightCenter will be part of the next release.

[2017-09-24 14:37] #20 closed

[2017-09-24 14:38] xabre commented on #35
I'm going to close this issue for now. Feel free to repopen it if you find a bug.

[2017-09-24 14:38] #35 closed

[2017-09-24 14:40] xabre opened #37 "Add bindable margins for Android, UWP and Mac"
Allow the developer to specify margins which influence badge position.

- [x] Android
- [x] UWP
- [x] Mac

[2017-09-24 14:53] xabre opened #38 "Finx font size binding"

[2017-09-25 19:52] henriksen commented on #36
Awesome! Thanks!

[2017-11-18 22:30] xabre opened #39 "Migrate build scripts to cake"

[2017-11-18 22:35] xabre commented on #37
Released with 1.3.0

[2017-11-18 22:35] #37 closed

[2017-11-18 22:36] xabre commented on #33
Released with 1.3.0

[2017-11-18 22:36] #33 closed

[2017-11-22 00:39] msl2000 opened #40 "Add support for non AppCompat android apps"
Hi

Just recently added the badge package into my project but have encountered the following errors everytime I try to build:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'Xamarin.Android.Support.Compat, Version=1.0.0.0, Culture=neutral, PublicKeyToken='. Perhaps it doesn't exist i

[2017-11-29 08:39] xabre commented on #40
Hmm, this might be caused by the latest version of the android support libs. The latest release was built usig the latest update. Maybe I can try reverting to the minim version required by Xamarin Forms

[2017-12-28 13:25] jaspervanmegroot opened #41 "Having a issue on Android with a custom renderer"
Having a crash on start up with android. iOS is working fine.
The android example is also working fine. What do I wrong?

Code:
**CustomRenderer:**
`[assembly: ExportRenderer(typeof(MainPage), typeof(MyTabbedPageRenderer))]
namespace Appviseurs.Droid
{
    public class MyTabbedPageRenderer : BadgedTabbedPageRenderer
    {
        private MainPage page;
        private Activity activity;
        ..

[2018-01-04 14:15] alwydl commented on #38
Any hint on how to customize the size font for now?
I tried in custom renderer for Android, by finding the LinearLayout, finding all TextView in it and SetTextSize inside the DispatchDraw method. But does not work very well (it reduces only for those texts that wouldn't fit in the tab, for those that fit it kept the original size).

[2018-01-09 04:42] alexOffice opened #42 "System.TypeLoadException: Could not resolve the signature of a virtual method"
download the source code from github yesterday.
And run the Plugin.Badge.Samle.Droid project, get the error.

01-09 12:36:20.074 I/MonoDroid(26905):   at Android.Views.ViewGroup.GetChildAt (System.Int32 index) [0x00036] in <d855bac285f44dda8a0d8510b679b1e2>:0
01-09 12:36:20.074 I/MonoDroid(26905):   at Plugin.Badge.Droid.ViewExtensions.FindChildOfType[T] (Android.Views.ViewGroup parent) [0x0003a]

[2018-01-10 16:51] xabre commented on #41
Hi @jaspervanmegroot,

You should try to set the badge properties after adding the NavigationPage to the TabbedPage children.

The badge renderer expects the layout to already be created before adding the badges.

:)

[2018-01-11 17:31] alwydl commented on #40
same issue here, even with previous versions of the plugin

[2018-01-12 11:42] xabre commented on #40
Can you guys tell me what version of xamarin forms, android sdk and android support libraries you are using?

[2018-01-12 12:36] alwydl commented on #40
Target Framework 6.0,
Xamarin forms 2.4.0.280
Xamarin.Support.v4 and v7 23.3.0

[2018-01-12 14:57] xabre commented on #42
What version of Xamarin.Android and Android SDK do you have installed?

[2018-01-22 16:21] CamelCaseMaster commented on #32
is .NET Standard 2.0 supported?

[2018-02-18 19:56] xabre commented on #32
It is now in the 2.0.0-pre release

[2018-03-07 10:25] josephca88 commented on #40
Hi,

Same here, I have encountered that error when building the App. Actually my application doesn't run in AppCompat. Is there any way that this plugin will work on Non-AppCompat application?

Thanks

[2018-03-07 21:44] xabre commented on #40
@josephca88 The app custom renderer was designed to look for the AppCompat View components in the toolbar. It might be possible to run in a non AppCompat app but only with a new/adjusted renderer.

[2018-03-08 06:55] josephca88 commented on #40
Currently, the application that I am working on is under **Xamarin.Forms v2.3.2.127**. This version of XF doesn't include assembly of **Xamarin.Android.Support.Compat.dll**.

If you don't mind, what stable version you have that can I download without requiring that specific DLL I mentioned?

[2018-03-12 19:26] xabre commented on #42
I'm guessing this could also be linker issue... GetChildAt might have been removed by Linking the sdk.
@alexOffice Is this still an issue?

[2018-03-12 19:28] xabre commented on #41
@jaspervanmegroot Is this still an issue?

[2018-03-12 19:30] xabre commented on #40
Xamarin.Forms v2.3.2.127 has an APpCOmpat dependency, I think the problem is that you MainActivity does not inherit from **FormsAppCompatActivity** which uses the material design app compat toolbar for which the badge renderer was designed.

[2018-03-13 07:05] josephca88 commented on #40
@xabre
That is one problem, the project could not be updated yet to that design. Can it be still possible without upgrading to AppCompat?

[2018-03-13 09:46] xabre commented on #40
@josephca88 This would require writing a new renderer. I think it's possible, but with some extra work. i will consider it as an ehancement.

[2018-03-14 06:32] josephca88 commented on #40
Thank you for considering it. Will wait for the release of it. Keep it up.

[2018-03-14 12:06] jaspervanmegroot commented on #41
That was indeed the solution! Thanks

[2018-03-14 14:28] #41 closed

[2018-03-14 14:29] #29 closed

[2018-03-19 20:26] xabre commented on #40
@josephca88 Try out the 2.0.0 version. Let me know if it works for you

[2018-03-20 08:13] #28 closed

[2018-03-27 07:10] viviFrom13 opened #43 "Bagde icon does not work when the tabbed page is not the first page (main page)"
I have modify your sample to first start on a page with a button.
When we click on the bouton it launches the tabbed page

In this case, the tab badge  are not visibles.

In this case, the _tabLinearLayout have not children.

I am using the case legacy because my application is inherit form FormsApplicationActivity. and launch the projet Plugin.Badge.Sample.Droid.Legacy

How can we resolve it ?

I

[2018-03-27 09:18] viviFrom13 commented on #43
I have continued to debugged 👍
this problème comes from the ActionBarContainer.

When, the tabbedPage is the main page :
 - the ActionBarContainer has 3 childs ( ActionBarView, ActionBarContextView and the ScollingTabContainerView)

When the TabbedPage is in the secondpage :
- the ActionBarContainer has 2 childs only ( ActionBarView, ActionBarContextView )
**the ScollingTabContainerView is not Pre

[2018-03-27 13:41] viviFrom13 commented on #43
I have found. the ScollingTabContainerView is not here because the tabbedPage is not visible.
So during, the navigation in the hierachy we are in the tree of the first page ( main page) not in the tree of the second page.
So we have to wait a little before adding the bagdes

i have juste add a delay on the LegacyBadgedTabbedRenderer class
  private async void OnAppearing(object sender, EventArgs e

[2018-03-27 15:45] xabre commented on #43
@viviFrom13 Nice find, could you check if a shorter delay works (200ms)? Or maybe another page lifecycle event which can be used?

[2018-03-28 06:17] viviFrom13 commented on #43
The delay depends of the loading time of the window. For my own application i need a delay of 3000 :(

If i tried to use another event like focused by i never found someting that working.

Do you have another idea ?

[2018-04-02 10:08] josephca88 commented on #40
Hi,

Thanks for the update. Unfortunately, I wasn't able to test it at the moment because we're in the process of updating the Xamarin.Forms version of our app. I noticed that the XF version on the latest version of your plugin seems to use 2.5x

Anyhow, I will update you once we're done the process of updating and when I have tried this plugin.

Thank you once again.

[2018-04-10 09:20] jaspervanmegroot opened #44 "Custom Renderer not working anymore when tabs are navigation pages"
Custom Renderer for TabbedPage is not working anymore (Android).  layout.TabCount stays 0. How the fix this?

Version Xamarin: latest
Version plugin: latest

[code]

MainPage:
[code]

[2018-04-11 12:19] xabre commented on #44
@jaspervanmegroot could it be related to #43?

[2018-04-11 12:20] xabre opened #45 "WPF Renderer"

[2018-04-16 08:34] josephca88 commented on #40
Hi,

I was testing the update but I received this error

`04-16 15:19:28.720 I/mono-stdout( 8739): Plugin.Badge: No ActionBar bit ha tab layout found. Badges not added.Plugin.Badge: No ActionBar bit ha tab layout found. Badges not added.`

Any idea why this is happening?

Thanks.

[2018-04-16 09:05] josephca88 commented on #40
Hi,

I got also this weird error after I click/tap one of the TabPages.

`04-16 17:09:12.675 W/ResourceType(10369): No package identifier when getting name for resource number 0x000000c1
04-16 17:09:12.676 W/System.err(10369): android.content.res.Resources$NotFoundException: Unable to find resource ID #0xc1
04-16 17:09:12.676 W/System.err(10369): 	at android.content.res.ResourcesImpl.getResourceNa

[2018-04-17 08:05] jaspervanmegroot commented on #44
Where do I need to set a delay?

[2018-04-17 10:48] Axemasta commented on #44
@xabre I'm having an issue with badges not being shown and this issue happens regardless of whether there is a previous screen (like in [#43](https://github.com/xabre/xamarin-forms-tab-badge/issues/43).

[2018-04-17 12:13] Axemasta opened #46 "Badges no longer appear when content page is embedded in navigation page."
I have come across an issue where the badges won't be displayed if the page displaying is embedded in a navigation page.

I am using prism for my app and got a demo project working perfectly, when I came to drop tab badge into my main app, I couldn't see any badges. I eventually tracked this issue down to 1 line of code, the navigation page. To demonstrate this issue [I have recorded a little vide

[2018-05-07 17:57] fsantanac commented on #46
I have the same issue -:(

[2018-05-09 13:14] merickson91 commented on #46
Any update on this?  I am having the same issue.

[2018-05-11 09:39] xabre commented on #46
I'll take a look as soon as possible

[2018-05-21 13:51] xabre commented on #44
@jaspervanmegroot Could you create a sample project to help with debugging?

[2018-05-21 13:55] xabre commented on #46
Seems related to #43

[2018-05-21 13:56] xabre commented on #32
Released 2.0.0

[2018-05-21 13:56] #32 closed

[2018-06-04 10:15] Srusti-Thakkar opened #47 "Badge is not showing."
Hi. Thanks for making this plugin. I am using your plugin in my Application, somehow it doesn't display on android. I have used bottom navigation bar plugin for display tabbar at bottom (i .e. [this](https://github.com/NAXAM/bottomtabbedpage-xamarin-forms)). I am using following code.

This is my tabbar page code.

`<naxam:BottomTabbedPage xmlns="http://xamarin.com/schemas/2014/forms"

[2018-06-08 05:51] vivekshah-zymr opened #48 "[XF 3.1] Android bottom tab bar position"
I have integrated this plugin in my app and works as expected, but now I want to show this tab bar at the bottom position in android, can anyone have some idea for that? I have tried [this](https://github.com/NAXAM/bottomtabbedpage-xamarin-forms) plugin, but a combination of this both plugin doesn't work. Please help me to get out of this task.

[2018-06-12 10:20] themultiplexer opened #49 "[UWP] Namespace Plugin.Badge.UWP not accessible."
Version: 2.0.0
UWP Version: Fall Creators Update
Visual Studio: 2017 15.7.3

I installed Plugin.Badge using the NuGet GUI to the PCL, iOS, Android and UWP-Project.

On Android and iOS everything works flawlessly, but I can't even export the renderer in the Assembly.cs of the UWP Project. The namespace Plugin.Badge.UWP is not even visible and so **BadgeTabbedRenderer** is not recognized.

![image](

[2018-06-12 10:39] xabre commented on #48
I think the best way is to build a new custom renderer to integrate with
the plugin you specified

On Fri, Jun 8, 2018, 7:51 AM Vivek Shah <notifications@github.com> wrote:

[2018-06-12 16:51] GalaxiaGuy commented on #48
This is now supported by the built in Xamarin.Forms TabbedPageRenderer as of 3.1.0.550168-pre3.

https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs

It's based on the native `BottomNavigationView`, and it should be possible to base a modification of this plugin on that. However, I suspect it is AppCompat only, and handling both top a

[2018-06-14 12:32] GalaxiaGuy commented on #46
Do you mean you have `TabbedPage` -> `NavgationPage` -> `ContentPage`?

In that case, I believe the problem is the `TabbedPage` is trying to get the attached properties from the `NavigationPage`, when you have presumably defined them on the `ContentPage`.

One option which you can do as a consumer would be to bind the attached properties on the `NavigationPage` to its child.

The other option is t

[2018-06-14 20:58] Axemasta commented on #46
@GalaxiaGuy So are you saying that the renderer is looking at the wrong view, when there is an embedded content page? I will have a look into this and report back!

[2018-06-15 10:06] GalaxiaGuy commented on #46
I think that might be the problem...

However I've just realised that my suggestion about binding the attached properties won't work, since it seems you can't bind an attached property to an attached property on something else.

[2018-06-18 08:41] LeroyDL commented on #49
I've got the same problem

[2018-06-23 15:03] xabre commented on #48
@GalaxiaGuy I think this is the best way to go now :) An adapted renderer for XF 3.1

[2018-06-23 16:58] xabre commented on #49
Seem to have a nuget packaging miss-configuration and the UWP.dll is not added. Need to figure out what's wrong...

[2018-06-25 07:47] nhdanh commented on #48
@xabre Are you working for the new XF 3.1 version ?

[2018-06-25 07:54] GalaxiaGuy commented on #48
I did this as a spike:
https://github.com/galaxiaguy/xamarin-forms-tab-badge/commits/spike/android-bottom-nav

It's far from ready for release though:
**TLDR: If you have images and use center right, it works.**

- Based on pre-release version of Xamarin Forms (but that will solve itself in time).
- Doesn't really work when icons aren't specified - the badges get cropped awkwardly.
- The alignment

[2018-06-25 08:57] xabre commented on #44
This seems to be caused by the same issue as #46.

[2018-06-25 08:59] xabre commented on #47
Same as #48

[2018-06-25 08:59] #47 closed

[2018-06-25 09:00] xabre commented on #42
No answer for a couple of months...closed.

[2018-06-25 09:00] #42 closed

[2018-07-09 05:28] Srusti-Thakkar opened #50 "How to update badge count when used Tabredered in iOS?"
Thanks for the plugin. I am using your plugin and just customize my Tabbed page in iOS. Now the issue is badges are not updating. How can I update badge count while used custom tabrender in iOS?
My code is :

[code]

[2018-07-10 11:56] xabre commented on #50
Hi @Srusti-Thakkar, you would need to inherit from BadgedTabbedRenderer instead of TabbedRenderer

[2018-07-13 05:30] Srusti-Thakkar commented on #50
Okay. Thanks I will try.

[2018-07-24 17:06] chrisgate commented on #49
How is this miss-configuration.............thanks for ur good work..

cheers

[2018-07-30 16:19] xabre commented on #48
Pull requests are welcome :)

[2018-08-16 16:08] nicolasteitelbaum opened #51 "Badge not working on Xamarin Forms 3.1 (Android only)"
Updated to Xamarin Forms 3.1 and set the tabbar to be at the bottom just like on iOS. Badge is not working for Android, iOS works just fine.

[2018-08-20 05:17] rysbilinski commented on #51
any workaround for this guys? seeing the same issue

[2018-08-20 11:59] reense commented on #51
Same issue!

[2018-08-21 17:15] azucchitmg commented on #51
@rysbilinski - I have not found a workaround for the issue (yet).  It looks like this issue is related to #48 so I'm not sure if we're better off discussing this request there instead?

[2018-09-09 03:32] henryyue2010 commented on #51
need solution of the issue, any one can help?

[2018-09-10 11:53] IoTFier opened #52 "Setting of the BadgePosition doesn't work with Xamarin Form 3.1+"
Hi @xabre ,

I am using XF 3.1.

Setting up the Badgeposition as one of the enum values defined (https://github.com/xabre/xamarin-forms-tab-badge#badge-position) doesn't have any effect on the position of the Badge when rendered on iOS (11.4).
With XF 3.1, I have already reported in another bug that this badge plugin is crashing my Android version of the App.

Your help will be appreciated.

Thank

[2018-09-10 13:47] xabre commented on #51
Sure, it's on my roadmap, will get to it as soon as possible. Hopefully towards the end of the week.

[2018-09-10 13:56] IoTFier commented on #51
Hi @xabre, thank you for your response.

I will be waiting and looking forward to your release.
I am open to help you in testing / validating your changes if that would help you.

Request - 1> will you please also have a check with XF 3.2 pre2 ? 2> Can we use this badge outside of Tabbed pages independently in any other views e.g. list views item template , labels etc?

Thanks.

[2018-09-10 14:09] reense commented on #51
@xabre  Great to hear! Im looking forward to it.

[2018-09-16 15:41] xabre commented on #52
The badge position property is not yet supported for iOS as there is no direct way to do this.

See limitations:
https://github.com/xabre/xamarin-forms-tab-badge#support--limitations

[2018-09-16 15:44] xabre commented on #51
Pre-release with XF 3.1 android bottom tab placement suport is out:

https://www.nuget.org/packages/Plugin.Badge/2.1.0-pre.2

Please give it a try and let me know if you spot some problems.

PS: you can use the `BadgeMargin` property to fine tune the position.

[2018-09-16 15:46] xabre commented on #51
@IoTFier Interesting proposal ... will think about it

[2018-09-16 15:47] reense commented on #51
Thank You sir! I Will try the prerelease tomorrow. Will post back if there are any issues. Thanks again!

[2018-09-16 15:47] xabre commented on #51
Please use #48 for further feedback, this is a duplicate thread :)

[2018-09-16 15:47] #51 closed

[2018-09-16 15:48] xabre commented on #48
Pre-release with XF 3.1 android bottom tab placement suport is out:

https://www.nuget.org/packages/Plugin.Badge/2.1.0-pre.2

Please give it a try and let me know if you spot some problems.

PS: you can use the BadgeMargin property to fine tune the position.

[2018-09-16 15:49] xabre opened #53 "[iOS] Badge position support"

[2018-09-16 15:49] xabre commented on #52
#53 will follow up

[2018-09-16 15:49] #52 closed

[2018-09-16 15:50] #50 closed

[2018-09-16 15:51] xabre commented on #49
https://www.nuget.org/packages/Plugin.Badge/2.1.0-pre.2
Should fix this issue. Give it a try

[2018-09-16 15:51] #49 closed

[2018-09-16 15:51] xabre commented on #44
Check

Pre-release with XF 3.1 android bottom tab placement suport is out:

https://www.nuget.org/packages/Plugin.Badge/2.1.0-pre.2

Please give it a try and let me know if you spot some problems.

[2018-09-16 15:51] #44 closed

[2018-09-16 15:52] xabre commented on #46
Pre-release with XF 3.1 android bottom tab placement suport is out:

https://www.nuget.org/packages/Plugin.Badge/2.1.0-pre.2

Please give it a try and let me know if you spot some problems.

[2018-09-16 15:52] #46 closed

[2018-09-16 15:53] xabre commented on #40
Seems to work fine in the sample app, will close

[2018-09-16 15:53] #40 closed

[2018-09-17 07:02] NPadrutt commented on #48
Hi @xabre
2.1.0-pre.2 works for me.  The only thing I noticed is, that the icons on the active tab do not look that nice as before:
![image](https://user-images.githubusercontent.com/1764367/45609324-c5e76f00-ba57-11e8-8279-47d37345f771.png)

![image](https://user-images.githubusercontent.com/1764367/45609333-cf70d700-ba57-11e8-90bc-65bc55b2d0db.png)

I think the animation where the icon is made a

[2018-09-17 07:35] xabre commented on #48
@NPadrutt thanks for the feedback, I think I know what is causing this, when the badge is attached to the icon a new parent container layout is added which might affect this behaviour. Will have to find an alternative way to add the badge view without affecting the existing layout structure....

[2018-09-17 07:41] xabre commented on #48
@IoTFier yes some additional logs would be helpful, like a full stack trace. Alos does it work without your custom renderer (directly with the badgedrenderer)?

[2018-09-17 07:51] reense commented on #48
@xabre  thank you for your work on the bottom nav! I've got it working in my own project. However, i think that i have the same problem as @NPadrutt . The text is too close to the image in my case. I attached a screenshot of my tabbedbar. Do you have any idea how to resolve this? :)
![bottomnav](https://user-images.githubusercontent.com/3921273/45611298-39d94580-ba5f-11e8-97e0-1f68bfba4b42.PNG)

[2018-09-17 08:44] xabre commented on #48
@reense Yes, I know what the issue is, will try to find a proper fix :)

[2018-09-17 08:45] reense commented on #48
@xabre  Great to hear! Looking forward to it :)

[2018-09-17 16:19] IoTFier commented on #48
Hi @xabre, good news is that the badge is working without the custom renderer.

Apparently, I am looking for opensource nuget package / plugin that will allow me to host tabbed bar on top in Andriod and in iOS; offers bindable properties to change tab bar height, apply font icons in conjunction with your badge and allow to change text case in Android (which is capital always).

Any recommendations

[2018-09-18 06:32] reense commented on #48
@IoTFier  what do you mean with "working without a custom renderer"?

[2018-09-18 07:37] IoTFier commented on #48
@reense, I tried to use a NuGet package BadgedPlatformTabbedPage which has custom renderer for TabbedPage.

[2018-09-19 02:12] chien1219 commented on #48
For me, either.
Badge is not gonna shown when using custom renderer(Buttom navigation view) and I'm trying to figure out why.

[2018-09-24 09:55] Romain1Lambert opened #54 "OnAppearing() of TabbedPage inside TabbedPage called when page is not clicked"
Hello,
I am facing an issue with TabbedPage nested in TabbedPage.
Let's say have a TabbedPage named MasterTabbedPage.
I add many childs to it that are all ContentPages except one TabbedPage named TestPage (it is a regular and simply created tabbedPage).

`

        public MasterTabbedPage()
        {
            InitializeComponent();
            Children?.Add(new PostsPage());
            Childre

[2018-10-02 21:18] IoTFier commented on #48
@xabre, how are you? Just wanted to know when is the next update coming for 2.1.0?
Thanks

[2018-10-10 00:18] henryyue2010 opened #55 "the layout of text and image in tab bar doesn't look good in 2.1.0-pre.2"
I found some issues after updating to 2.1.0-pre.2

1. The image of selected tab was not highlighted with the same color as the text.
2. The text and image are too close to each other.

![image](https://user-images.githubusercontent.com/16337520/46705925-4f244700-cc8e-11e8-92fc-72bcd8cab148.png)

@xabre
Can you please fix the issues?
Thank you very much.

[2018-10-10 18:46] ojuniour commented on #30
Any updates on the feature?

[2018-10-20 15:40] IoTFier opened #56 "Waiting for your help"
Hi @xabre , many of us are waiting for your help on the issues we have raised in last couple weeks.

Will you please help us?

Thanks,

[2018-10-21 13:36] kongdet opened #57 "Use SetBadgeText?"
I have problems using SetBadgeText
It does not show me.
![1133](https://user-images.githubusercontent.com/44340399/47267638-f481c980-d570-11e8-92af-c0819cdf9fb6.jpg)

[2018-10-22 20:21] xabre commented on #48
@reense @NPadrutt Fixed the layout issues in 2.1.0-pre.3.
Use margins to fine tune the badge position. Check the sample app.

[2018-10-22 20:22] xabre commented on #48
@IoTFier @chien1219 I would need some sample custom renderer which is not working to debug this. Most probavbly your custom renderer changed something in the standard view hierarchy and the badge renderer can't find the proper view.layout to attach to.

[2018-10-22 20:31] xabre commented on #57
- SetBadgeText is overriden by your binding which might not have a proper binding context (check if it has a "Count" propery)
- either use a binding or SetBageText ...not both

[2018-10-22 20:31] #57 closed

[2018-10-23 11:37] NPadrutt commented on #48
@xabre I upgrade on my project and it looks very nice now. Thanks for your effort!

[2018-10-23 12:14] reense commented on #48
@xabre  thank you for your work! works like a charm now. The users of my app are thankfull ;)

[2018-10-23 13:35] Romain1Lambert commented on #54
Thank you for the reply, I checked by commenting the ExportRenderer on my assembyInfo and it still occured, as you said it seems to be a Forms related behavior.

[2018-10-23 20:48] #54 closed

[2018-10-23 20:49] xabre commented on #48
@reense @NPadrutt Glad to hear it! :)

[2018-10-23 20:49] #48 closed

[2018-10-26 04:09] chien1219 commented on #56
Hi, @xabre Im working on this badge for 3 months and followed your work for a period of time
I have custom renderer in my work as code followed
but i'm confused that the badge still doesnt show on **Android** when tab is placed bottom (for top placed it work as well).
(I had applied from 2.0.0 to 2.1.0 - pre 3)
I tried to applied your source code to my renderer and it works, but it doesn't as inhe

[2018-10-26 12:38] Phenek opened #58 "[Bug] NavigationPages as TabbedPage Children"
Hello,

Setting Badges on Tabbed NavigationPages is showing the logo and text but no badges:
[code]

Setting Badges, Icon & text on first stacked ContentPage is showing badge but no text & no Icon.
[code]
Mixing Both works for iOS but on Android (Bottom position) it isn't showing the badge
[code]
The NavigationPage should managed the badges not its first stacked ContentPage, don't you think?
Regar

[2018-10-29 07:53] c0rnh0li0 commented on #56
Hi @xabre,

I have the exact same code and I'm facing the exact same issue, Any help would be appreciated.

Thanks

[2018-11-02 10:29] IoTFier commented on #30
Hi xabre, I think even for this future my request of having an independent badge control pluggable to any XAML view still applies. For this needs the TitleView feature of the XF 3.2 can be used by anyone while using your badge control combined with any other XF View to deliver badge in the navbar.

Thoughts?

[2018-11-05 12:08] toussam commented on #54
We created an issue into the Xamarin.Forms repository to notify the issue: https://github.com/xamarin/Xamarin.Forms/issues/4303

[2018-11-07 11:51] NPadrutt opened #59 "Badge is drawn on the wrong tab"
I have a Tabbar with a bottom placement and two pages with a badge counter on them. When a push notification comes in the counter shall be increased for the activity tab.

![screenshot_20181107-123801](https://user-images.githubusercontent.com/1764367/48130042-94d33000-e28b-11e8-8e75-682914961a5a.png)

Now is the counter set, but on the wrong tab as you can see above. Actually the birthday page do

[2018-11-09 11:07] toussam opened #60 "[Android] Badge icon of the lefty tab's children is stuck to the device's screen"
Hi,

I am using your package to set a badge icon internally and I mixed it with Xamarin's Android specification that is allowing the TabbedPage to be set at the bottom.

The badge icon is working great, but on Android devices this last one is almost stuck to the device's screen. I checkout your wiki and I know we can change its position (TopLeft, BottomLeft, etc..), but in my case I simply would l

[2018-11-11 11:38] xabre commented on #60
@toussam Use the BadgeMargin property to fine tune the position on android ;)

[2018-11-11 13:36] xabre commented on #59
@NPadrutt can you reproduce this with the sample app? Or send a simple code sample which can reproduce this issue?

[2018-11-11 21:41] xabre commented on #45
Released with 2.1.0

[2018-11-11 21:41] #45 closed

[2018-11-14 14:01] Romain1Lambert commented on #60
Hey @xabre !
It worked well.
I noticed that with a bottom TabbedPage
``  android:TabbedPage.ToolbarPlacement="Bottom"``

The classic xamarin behavior changes the position of the Icon but the badge stays at the same position. It makes the badge on a different place compared to the icon wether you have the focus on the Content page or not.

I implemented my own fix with different margins when you le

[2018-12-06 14:30] michaelstonis opened #61 "[UAP] NuGet is missing payload files"
Using the version 2.1.0, the `HeaderTemplate.xbr` and `Plugin.Badge.UWP.xr.xml` files are both missing from the UAP release. The application cannot be compiled unless these files are available.

[2018-12-09 18:48] mjspk commented on #61
same problem here any ideas

[2018-12-20 11:09] Jamesmallon1 commented on #61
Same issue also, did you guys manage to resolve the issue?

[2018-12-20 11:16] mjspk commented on #61
no update still get this error i try to look for these files into the package itself but no success

[2018-12-20 11:50] Jamesmallon1 commented on #61
@mjspk are you using a BadgeTabbedPage custom renderer or are you just literally using the Nuget package?

[2018-12-20 11:51] mjspk commented on #61
I'm using the Nuget package

[2018-12-20 11:58] Jamesmallon1 commented on #61
@xabre Is there anyway you could get onto this?

[2018-12-20 15:02] Jamesmallon1 commented on #61
@mjspk @michaelstonis

Managed to produce the 2 files required from the source. I will attach them here. Just place both files in the relevant directory referenced by the error log 😄

[Plugin.Badge.UWP.zip](https://github.com/xabre/xamarin-forms-tab-badge/files/2699323/Plugin.Badge.UWP.zip)

[2018-12-21 10:00] Jamesmallon1 commented on #61
@xabre can you include the files above in the nuget package and reupload?

[2019-01-09 15:35] Phenek opened #62 "[iOS Bug] IndexOutOfRange when setting the Text property"
My implementation is like so:
[code]

When changing the BadgeTextProperty I got an IndexOutOfRange on iOS Only.
Message: Index was outside the bounds of the array.

The StackTrace take me to the Plugin.Badge.iOS.BadgedTabbedPageRenderer.OnTabbedPagePropertyChanged

[2019-01-09 15:42] Phenek commented on #62
I think is about the CheckValidTabIndex function in [the iOS Renderer](https://github.com/xabre/xamarin-forms-tab-badge/blob/master/Source/Plugin.Badge.iOS/BadgedTabbedPageRenderer.cs)

The function is searching for the IndexOf(tab) and need to be the IndexOf(navigation)
regarding my implementation. #58

[2019-01-10 12:03] Phenek commented on #62
For a workaround we could do :
[code]

[2019-02-03 18:04] xabre commented on #62
PR #63 was merged and released with v2.1.1

[2019-02-03 18:04] #62 closed

[2019-02-03 18:05] xabre commented on #61
Nuspec was updated in v2.1.1. Files should be there, please let me know if there are any other issues with the UWP package.

[2019-02-03 18:05] #61 closed

[2019-02-03 18:07] xabre commented on #58
v2.1.1 realeased with fix for #63 and #58. Give it a try and let me know.

[2019-02-03 18:07] #58 closed

[2019-02-03 18:10] xabre opened #64 "Generic XF badge"
Provide a generic badge as a XF ui control that can be bound and added to any XF layout.

[2019-02-21 17:28] Phenek commented on #58
👍  Nice Thanks!

[2019-02-27 11:41] aman720gupta opened #65 "When I change the icon progmatically on selectetion of any tab badge got removed from iOS only please check the attachment"
![screen shot 2019-02-27 at 5 10 58 pm](https://user-images.githubusercontent.com/47473789/53487859-b3676c00-3ab2-11e9-836e-c83e871f2045.png)
![screen shot 2019-02-27 at 5 11 07 pm](https://user-images.githubusercontent.com/47473789/53487860-b3676c00-3ab2-11e9-9914-c133430a733f.png)

[2019-03-04 09:52] aman720gupta commented on #65
@xabre can you please help me with this

[2019-03-18 09:10] RajdeepSharma1911 opened #66 "Cannot access a disposed object. Object name: 'BadgedTabbedPageRenderer'."
I have a tabbed page as Home Screen. Where I m displaying badge. When I logout the user and login again to come to home view. This error crashes the App in iOS.

[2019-04-11 13:11] xabre commented on #43
@viviFrom13 is this still an issue?

[2019-04-19 17:54] brminnick opened #67 ""System.MissingMethodException: No constructor found" when using a Singleton TabbedPage for Application.MainPage (Android)"
### Description

(Only applicable on Android)

When `Application.MainPage` is a Singleton TabbedPage using a `TabbedPageRenderer` (example code, below), `Xamarin.Forms.Platform.Android.AppCompat.Platform.SetPageInternal` throws the following exceptions:
- `System.NotSupportedException: Unable to activate instance of type XamarinFormsSingletonRepro.Droid.SingletonTabbedPageRenderer from native hand

[2019-04-19 17:57] brminnick commented on #67
# Solution

To fix the issue, target Xamarin.Forms v4.0.

[This Xamarin.Forms Issue](https://github.com/xamarin/Xamarin.Forms/issues/5911) shows that it is a bug in Xamarin.Forms that has been fixed in v4.0.

Since Xamarin.Forms v4.0 is still in preview, I recommend publishing a prerelease NuGet package of `Plugin.Badge` that is built targeting v4.0.

[2019-04-22 15:05] xabre commented on #66
@RajdeepSharma1911 please test with the latest stable release **2.1.2**

[2019-04-22 15:05] #66 closed

[2019-04-22 15:07] xabre commented on #65
Fixed 2.1.2. Please reopen if still an issue

[2019-04-22 15:07] #65 closed

[2019-04-22 15:17] xabre commented on #67
Give 2.2.0-pre.1 a try

[2019-04-22 16:38] brminnick commented on #67
Thanks @xabre - that fixed the crash!

[2019-05-12 19:59] xabre opened #68 "Add SelectedBadgeTextColor/ SelectedBadgeColor"
Would be potentially usefull to change the badge colors for the selected tab.

[2019-05-17 04:49] mjspk opened #69 "Add Support for the new shell navigation"
Add Support for the new shell navigation

[2019-05-21 11:48] uksreejith commented on #66
@xabre Facing the same issue. Please check the following log :

`System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'BadgedTabbedPageRenderer'.
  at Foundation.NSObject.get_SuperHandle () [0x0004a] in /Library/Frameworks/Xamarin.iOS.framework/Versions/12.2.1.16/src/Xamarin.iOS/Foundation/NSObject2.cs:456
  at UIKit.UITabBarController.get_TabBar () [0x0002a] in /Library/F

[2019-06-04 08:51] gregersen79 opened #70 "Android: Adding and removing tabs causing badges to shift tab"
On Android, when removing or adding a tab, the badges are on the wrong tabs.
It seems it is only with bottom tab placement.
I have recreated this issue with the sample app on Samsung Galaxy S8 running Android 8.0.0:
- Select "Use bottom tab placement"
- Press ex. "Tabbed page root with children as navigation pages".
- Press "Remove tab".

**Before pressing remove tab:**
![Screenshot_20190604-10352

[2019-06-20 22:36] stesvis opened #71 "Badge not showing"
Hello,
I don't understand why the badge is not showing even with this simple example like this:

[code]
Turns out to this:
![Screenshot_20190620_163426_com veloguide mobile prod](https://user-images.githubusercontent.com/6062684/59885684-50f3ed80-9379-11e9-88b2-1d8d97c82f56.jpg)

What could I be missing?

I did add this to the AssemblyInfo.cs too:
`[assembly: ExportRenderer(typeof(CustomTabbedPage

[2019-06-22 16:29] stesvis commented on #71
UPDATE: the badge shows if I change it to this:
`[assembly: ExportRenderer(typeof(TabbedPage), typeof(BadgedTabbedPageRenderer))]`
But of course I lose my custom tabbed page customizations...
@xabre any idea? Thx!

[2019-06-24 06:56] xabre commented on #71
@stesvis YOu have to inherit your own custom renderer from the
BadgedTabbedPageRenderer and then register your custom renderer.

`public class CustomTabbedPageRenderer : BadgedTabbedPageRenderer`

`[assembly: ExportRenderer(typeof(TabbedPage), typeof(CustomTabbedPageRenderer))]`

[2019-06-24 06:56] #71 closed

[2019-07-02 17:43] nlhaney87 opened #72 "38 "Skipping App1.Droid.Resource..." warnings when building Xamarin.Droid"
I created a new Mobile App (Xamarin.Forms) project in Visual Studio 2019 with the Master-Detail template.  I built the shared project and the android project after creating it, and it built with no warnings or errors.  I then installed Plugin.Badge 2.1.2 to the solution and again built the shared project and the android project,, but this time received 36 warnings from the android project (see att

[2019-07-04 07:29] uysuy opened #73 "Failed to resolve "Plugin.Badge.Abstractions.IBadge"
I have tried with this plugin but I got result as below
Failed to resolve "Plugin.Badge.Abstractions.IBadge" reference from "Plugin.Badge.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"	ProjectName.iOS

Please kindly help

Best Regards,
Uy Suy

[2019-07-07 13:22] xabre commented on #72
This is due to the different nuget package versions used by the plugin and your project, due to different XF versions (older for the badge). The next release will increase the minimum XF version to 4.0.0.425677 and should solve these warnings.

[2019-07-07 15:42] xabre commented on #30
v2.2.0 includes a generic badge view for XF

[2019-07-07 15:42] #30 closed

[2019-07-07 15:42] xabre commented on #64
v2.2.0 includes the generic badge vie

[2019-07-07 15:42] #64 closed

[2019-07-07 15:43] xabre commented on #72
Should be fixed by v2.2.0. Give it a try and reopen if still an issue.

[2019-07-07 15:43] #72 closed

[2019-07-07 15:43] xabre commented on #67
v2.2.0 also contains this fix

[2019-07-07 15:43] #67 closed

[2019-07-08 10:40] geskill opened #74 "Nullpointer in UpdateBadgeProperties"
We need some `if (this.Content != null) { ... }` here: https://github.com/xabre/xamarin-forms-tab-badge/blob/master/Source/Plugin.Badge.Abstractions/Badge.cs#L74

[code]

[2019-07-09 00:41] LeoJHarris commented on #38
@xabre This would be a great feature! While the default textsize is readable we'd love top be able to bump it up abit and make it even more readable.

[2019-07-09 09:09] mgoodfellow commented on #66
I'm suffering the same issue but only affecting Android it seems:

[code]

[2019-07-09 14:33] nlhaney87 commented on #72
Upgrading to 2.2.0 got rid of the warnings.  Thank you for the prompt response and fix.

[2019-07-09 21:29] LeoJHarris opened #75 "Last Badge item not updating until tab is selected"
Hi there,

Im currently experiencing what appears to be a bug, when I load my application all the badges update correctly except for the last badge in the tab pages. When I select any tab from the bottom then the badge updates

Im using FreshMVVM framwork

and setup in the page:

[code]

See below (not until a tab is selected does the tab actual display correctly the tab text value):

![ezgif com-

[2019-07-09 21:50] LeoJHarris commented on #75
So the ViewIsAppearingMethod is not being called on the last tab so suspect its an issue with with FreshMVVM or XF.

Closing for now

[2019-07-09 21:50] #75 closed

[2019-07-11 08:06] uksreejith commented on #66
I created a new custom renderer and copy pasted the renderer code from this project into my android project. Somehow its working after that. I have no idea how..😛😂
My original intention was to try an debug the renderer. But was not able to reproduce this bug.

[2019-08-03 13:38] xabre commented on #74
Fixed in 2.2.1

[2019-08-03 13:38] #74 closed

[2019-08-03 13:38] xabre commented on #39
Done since 2.2.1

[2019-08-03 13:38] #39 closed

[2019-08-03 13:39] xabre commented on #56
Is this still an issue?

[2019-09-03 18:45] nekszer opened #76 "Multiple properties with name BadgeView.Shared.CircleView.CornerRaius"
**Xamarin.Forms.Xaml.XamlParseException:** 'Position 8:81. Multiple properties with name 'BadgeView.Shared.CircleView.CornerRadius' found.'

Xamarin Forms: 4.2.0.709249

[2019-09-04 09:29] xabre commented on #76
More info perhaps? ;) would be greatly appreciated.
For example:

- Small code sample.
- Reproduction steps etc.

[2019-09-04 09:30] xabre commented on #73
There is no IBadge type. Without more info I cannot help.

[2019-09-04 09:30] #73 closed

[2019-09-11 02:24] LeoJHarris opened #77 "plugin:TabBadge.BadgeText <= 0 do not show badge?"
Hi there, just wondering when Badge count is 0 would it be possible if we can optionally choose whether the badge is even shown? Rather then having the badge showing with the value 0

[2019-09-11 11:41] xabre commented on #77
The badge content is a string (not interpreted as int). You can hide the badge by setting it to null.

[2019-09-16 05:10] LeoJHarris commented on #77
Thanks, that helped.

[2019-09-16 05:10] #77 closed

[2019-10-03 15:49] Adam-- commented on #70
I'm experiencing a similar behavior with top tabs on android using the BadgedTabbedPageRenderer.

I think this issue is best described as the badges staying on the original tab index after tab pages are add/removed at runtime.

Setting up a simple example where tabs can be added and removed at either the left or right at runtime reproduces this issue.

**Adding tabs to the left**
![Before add](htt

[2019-10-03 16:05] Adam-- commented on #70
I'd like to help with fixing this bug, but I'm struggling a bit. It seems we should try to "refresh" all of the tab view's badge views. To do this I've tried a few approaches, most notable are the following.

Iterating over the `BadgeViews` collection and calling `UpdateFromElement` on the view using the page whenever tabs are added or removed (OnTabAdded, OnTabRemoved), but it doesn't seem to do

[2019-10-03 16:11] Adam-- commented on #70
Was there a version where this had previously worked? It's shown as supported in the readme.

[2019-11-05 18:40] JohanOtto opened #78 "Badge does not bind correctly if starting off with a <null> value"
In my scenario I have a few tabs that I want to slap badges on, but only after I have fetched the data using an asynchronous dependency service. I fetch the data and then set the bindatbe property to something like this
`_viewModel.HomeBadgeText = items.Count.ToString();` with 'HomeBadgeText` being my binding in the XAML file. If I do this with an initial <null> value the badge never updates, HOWE

[2019-11-05 19:29] arhiggi3 commented on #78
I have this problem as well but only on Android. Someone on my team claims that it works on earlier android versions but it definitely isn't working for me on a 9 device.

[2019-11-26 14:17] ryanglenn79 opened #79 "iOS 13.2.2"
The Badge Text is not showing up on iOS13.2.2, how can I resolve this issue ?

[2020-01-10 01:14] Giulio64 opened #80 "No badge displayed both on Android and iOS"
I need to test this scenario:
I have a reference to a tab bar menu in my App.xaml.cs so I can display badges from all over the app calling by calling a method, anyway I can't display any badges no matter what I do, both on iOS and Android, here is my tabbed page :

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Hangover.Pag

[2020-01-19 16:40] klementuel opened #81 "No Badge Display on IOS"
Hi
I have a problem to see the badge on the Tabbed Page. For Testing I set the BadgeText Without Binding to 2
[code]

But nothing happend?!
Any idea what I´m doing wrong?

I double check your Readme and try some workarounds but I found no solutions.
I try it on Ios and Android.

Thanks

[2020-01-20 08:03] klementuel commented on #81
Ok I found out this issue is only during the startup, when I change the badge during the runtime it´s works fine. do you have any idea what´s the problem is?

[2020-01-21 01:50] haiduong741 opened #82 "Xamarin.Android Reload page"
TabbedPage has 5 ContentPage, I stay at Current page 4 and click to page 3. It loading slow, sometime it crashed with alert Label Fast Renderer...
It work well in iOS, but Android has this issue.

[2020-01-24 00:13] klementuel commented on #81
Ok We found the problem, we create the TabbedPage during Runtime, thats not running very well... Now we create an instanz from TabbedPage during start and used that...

[2020-01-24 00:13] #81 closed

[2020-01-29 15:54] mohammedmsadiq opened #83 "tabbed page is already using a renderer how would i implement this one too"
how would you register the renderer if the ios project does not have any asemblyinfo file?

[2020-01-30 07:29] #83 closed

[2020-01-30 07:30] mohammedmsadiq commented on #83
not related anymore

[2020-01-30 07:31] mohammedmsadiq opened #84 "tabpage already uses a custom renderer for ui changes how to implement badge aswell"
my TabbedPage already uses a custom renderer that i have created but can you inherit this aswell

[2020-01-30 07:50] #84 closed

[2020-01-30 07:50] mohammedmsadiq commented on #84
got it working thanks

[2020-02-03 09:56] mohammedmsadiq opened #85 "Binding Issues on Xamarin forms"
i cant get this to work through binding. but static number works, see below my implementation

 <local:Page1
    Title="My Page"
    x:Name="Item1"
    plugin:TabBadge.BadgeText="{Binding Count}"
    plugin:TabBadge.BadgeColor="Red"
    plugin:TabBadge.BadgeTextColor="White" />

 public override void OnAppearing()
        {
                var result = await this.notificationService.GetNotificatio

[2020-02-03 14:24] mohammedmsadiq commented on #85
i also tried the implementation on your sample project and property is not detected any changes. see below;

 public class MasterTabbedPageViewModel : ViewModelBase, INotifyPropertyChanged
    {
        readonly INotificationService notificationService;

        public MasterTabbedPageViewModel(INavigationService navigationService, INotificationService notificationService, IPageDialogService pageD

[2020-02-26 09:33] 78fede78 opened #86 "Increase the size of the badge"
Hello congratulations for this excellent library.
is it possible to increase the size of the badge?

[2020-03-01 17:05] paleicikas opened #87 "Migration to AndroidX"
Are there plans to migrate the Xamarin.Android.* dependencies to Xamarin.AndroidX?
https://devblogs.microsoft.com/xamarin/androidx-nuget-packages-are-stable/

[2020-03-07 10:29] xabre commented on #82
A clearer description with reproduction steps would help

[2020-03-07 11:39] xabre commented on #87
@paleicikas give 2.3.0-pre.2 a try.
https://www.nuget.org/packages/Plugin.Badge/2.3.0-pre.2

[2020-03-07 11:43] xabre commented on #86
Well this would be possible an all platforms **except iOS** where the size is not changeable.
So an implementation of this feature would then exclude iOS and not be truly cross platform

[2020-03-07 11:46] #56 closed

[2020-03-07 11:50] #76 closed

[2020-03-07 11:50] xabre commented on #59
Closed because of age

[2020-03-07 11:50] #59 closed

[2020-03-07 17:26] xabre commented on #79
Try the sample app.
Seems fine on iOS 13.3
Please reopen if still an issue

[2020-03-07 17:26] #79 closed

[2020-03-07 20:13] paleicikas commented on #87
seems working, thanks

[2020-03-08 04:16] haiduong741 commented on #82
Sorry. This issue belong Xamarin.Forms. I was post new Issue from here.
https://github.com/xamarin/Xamarin.Forms/issues/9880

[2020-03-08 04:16] #82 closed

[2020-03-18 16:09] jmblargent commented on #85
If you are binding to the TabbedPage ViewModel, you need to specify the source and path for the binding. In your first example, if your TabbedPage is named Tabs, then the binding would look like {Binding Source={x:Reference Tabs}, Path=BindingContext.Count}. If you don't set the source, then it is looking for Count in the binding context of Page1.

[2020-05-19 18:49] paleicikas opened #88 "System.NullReferenceException"
Xamarin Exception Stack:
System.NullReferenceException: Object reference not set to an instance of an object
  at Plugin.Badge.Droid.BadgedTabbedPageRenderer.OnTabAdded (System.Object sender, Xamarin.Forms.ElementEventArgs e) [0x00087] in <71cdb5ef9ef64a8db34f7b7e236e97e5>:0
  at System.Runtime.CompilerServices.AsyncMethodBuilderCore+<>c.<ThrowAsync>b__7_0 (System.Object state) [0x00000] in <5e602

[2020-05-24 08:57] enisn commented on #69
This is absolutely required feature. Can anyone implemented it?

[2020-05-29 15:26] abrantie1z opened #89 "Works on Shell Tab Pages"
Wanna know if it works on shell tab pages? Thanks

[2020-06-06 03:08] TopSkillDeveloper commented on #87
When will the stable version be released?

[2020-06-14 15:39] xabre commented on #87
Stable release 2.3.0

[2020-06-14 15:39] #87 closed

[2020-06-17 15:47] icm-app opened #91 "Reference to Xamarin.Google.Android.Material"
Hi, I have below error

Severity	Code	Description	Project	File	Line	Suppression State
Error		Can not resolve reference: `Xamarin.Google.Android.Material`, referenced by `Plugin.Badge.Droid`. Please add a NuGet package or assembly reference for `Xamarin.Google.Android.Material`, or remove the reference to `Plugin.Badge.Droid`.	MyICM.Android

Do I have to reference the package?

Regards,
Dodo

[2020-07-02 10:46] angelru commented on #89
it doesn't work in shell doesn't it?

[2020-07-08 09:13] kamranmasud opened #92 "Badge is not visible when i add a renderer to navigate to root page on tab reselected"
I want to show badge on cart tab..on the other side i want to show root page on tab clicked or reselected..I am using your plugin to show badge on tab but when i use renderer to show root page on tab reselected then badge is not visible. I am finding the solution because i want both of these functionalities in my app..
I am using the following renderer to navigate to root page when i reselect tab:

[2020-07-08 09:43] kamranmasud commented on #35
I want to show badge on cart tab..on the other side i want to show root page on tab clicked or reselected..I am using your plugin to show badge on tab but when i use renderer to show root page on tab reselected then badge is not visible. I am finding the solution because i want both of these functionalities in my app..
I am using the following renderer to navigate to root page when i reselect tab:

[2020-07-14 11:33] mced76 commented on #91
This issue is coming with 2.3. 2.2.1 works fine

[2020-07-18 05:26] adilsonbatistajr opened #93 "Binding no work"
Is there any reason for this not to work:

<ContentPage Title="Sales" Icon="icon_bell.png" plugin:TabBadge.BadgeText="{Binding SalesCount}">

ViewModel:

 public string SalesCount
    {
        get
        {
            return _salesCount;
        }
        set
        {
            this.SetProperty(ref _salesCount, value);
        }
    }

Xamarin Forms 4.7, Plugin.Badge 2.2.1

[2020-07-21 00:24] adilsonbatistajr commented on #93
Solution: plugin:TabBadge.BadgeText="{Binding Source={x:Reference tabParticipantes}, Path=BindingContext.ParticipantesCount}"

[2020-07-21 00:24] #93 closed

[2020-07-27 11:24] acuntex commented on #91
2.3 brought AndroidX support but apparently if you have a project which is not AndroidX then it doesn't work anymore.

[2020-08-05 10:23] anders9ustafsson opened #94 "Error MSB3030: Could not copy the file "C:\Users\xxx\.nuget\packages\plugin.badge\2.3.0\lib\uap10.0\Plugin.Badge.UWP\Plugin.Badge.UWP.xr.xml" because it was not found."
As the title says, in version 2.3.0 of *Plugin.Badge* on NuGet, the xr.xml file cannot be found when including *Plugin.Badge* in a UWP application.

Looking at the .nuget repository on the local system, it seems like the files in question now reside in a sub-directory *Plugin.Badge.UWP/Plugin.Badge.UWP* instead of, as in previous versions, *Plugin.Badge.UWP*.

![plugin-badge-issue](https://user-im

[2020-08-11 10:04] superbeller commented on #94
I have this problem too. How to fix it?

[2020-08-12 23:56] BenReierson commented on #94
Same issue. The files are one level too deep. Need to be moved up.

[2020-08-15 06:31] developerult opened #95 "Get this issues when trying to implement in xamarin forms 4.8"
Severity	Code	Description	Project	File	Line	Suppression State
Error		Can not resolve reference: `Xamarin.Google.Android.Material`, referenced by `Plugin.Badge.Droid`.
Please add a NuGet package or assembly reference for `Xamarin.Google.Android.Material`, or remove the reference to `Plugin.Badge.Droid`.

[2020-08-24 18:52] mhrastegary77 commented on #94
Same issue

[2020-08-25 09:08] mhrastegary77 opened #96 "[Bug] UWP : Tab icons not showing"
when i set renderer([assembly: ExportRenderer(typeof(TabbedPage), typeof(BadgedTabbedPageRenderer))])  in AssemblyInfo.cs,
my tab icons and titles not showing anymore on UWP.

[2020-08-26 09:57] ManuLin commented on #94
I am facing the same issue.

[2020-09-11 16:46] Eastinghub opened #97 "NullReferenceException at BadgedTabbedPageRenderer.OnTabAdded"
Latest version

Android: 9
Android Build: PPR1.180610.011
Manufacturer: samsung
Model: SM-A605FN
Date: 2020-09-11T13:13:10.818Z

Xamarin Exception Stack:
System.NullReferenceException: Object reference not set to an instance of an object
  at Plugin.Badge.Droid.BadgedTabbedPageRenderer.OnTabAdded (System.Object sender, Xamarin.Forms.ElementEventArgs e) [0x00087] in <77106825f8fc4826bc2f316912dcccf

[2020-09-16 15:18] enisn commented on #89
Is there anyone who implements to shell tab pages?

[2020-10-28 10:42] #94 closed

[2020-10-28 16:10] acuntex opened #99 "Plugin.Badge is not working with FFImageLoading or Xamarin.Forms.Nuke on iOS"
## 🐛 Bug Report

When using Plugin.Badge in combination with FFImageLoading (and the method CachedImageRenderer.InitImageSourceHandler()) or Xamarin.Forms.Nuke (and the method Xamarin.Forms.Nuke.FormsHandler.Init()), the Badges are not shown. Only after changing the values of the badges, they are shown.

Since it is necessary to use either FFImageLoading or Xamarin.Forms.Nuke in any app that's get

[2020-11-01 19:12] xabre commented on #95
Did you migrate your XF project to Android X?

[2020-11-02 05:33] developerult commented on #95
No i didn't. I tried to implement this straightforward XF projects.

[2020-11-09 15:34] ramonB1996 opened #100 "BadgeTextColor not changing on iOS"
First of all; Thank you for this Plugin!

I am now trying to create a notification-dot (on a tab of a tabbedpage) which is shown after fetching some data. The dot should not have any text in it, but should display with the specified `BadgeColor`. I tried this in 2 ways:

1. Using a random string as the `BadgeText` and setting the `BadgeTextColor` to `Transparent`.
2. Using a random string as `Badg

[2020-11-11 15:27] ramonB1996 commented on #100
I resolved this by using a 'space character' as `BadgeText`. So `" "` will work to display an empty notification dot.

However, I still think the other ways should work aswell, so leaving this open for now.

[2020-11-18 16:12] mimunoz opened #101 "[iOS] BadgeColor"
Hi all, thanks for this plugin.

I'm currently work with:

- Xamarin Forms 4.5.0.725
- Lastest version of Plugin.Badge 2.3.1

I try to set another color to badge and this work well in Android, but in iOS isn't working. Color changes works when I made a change in xaml and save changes, then hotreload fires the changes and the color change as well, but by default(when app start) doesn't work.

Updat

[2020-11-24 14:46] mimunoz commented on #101
I'll close this issue, because the problem was the SVG icons what I used to the tabs instead .png.

Regards.

[2020-11-24 14:46] #101 closed

[2021-05-05 23:09] FrancisND opened #102 "Can your page be placed at the bottom"
Hi I want to know if your tab can be placed at the bottom instead of top ?

[2021-06-11 17:55] craigwi commented on #96
I had the same problem and discovered that:
1. the converter used to process the icon is limited; I could get an icon to show using a png in the old location for UWP (same directory as App.xaml).
2. if you do provide an icon, the title will not show; it is an either or thing on UWP.

[2021-06-11 17:57] craigwi commented on #96
On the first point, the UWP TabIconConverter probably needs to allow resource://<name> to pass through and not get pre-pended with ms-appx:///.

[2021-06-12 16:36] craigwi commented on #96
Resource:// is an FFImageLoading convention.  To make this work one needs to pick a convention for how to extract the assembly name from the source string and then call GetManifestResourceStream on that assembly.  I tried two methods, both of which worked.  The simplest is to assume that the full resource name is "<assembly_short_name>.Resources.<resource_name>" and then load the assembly using th

[2021-06-16 22:45] craigwi commented on #96
In the end I moved the tab icons to the OS-specific asset location for two reasons:
1. avoid this issue
2. on iOS and Android, be able to specify different resolutions of the icons (which I didn't do otherwise).

I also discovered, FWIW, that in the case where the tabbed pages are NavigationPage with children (CreateTabedPageWithNavigationPageChildren() in the demo) one actually does have to set t

[2021-10-26 06:50] bbenetskyy opened #104 "Still Active Repo?"
Hi there 👋

Do you plan to continue to support this repository? Update your dependencies and fix current issues?

Asking because it's a year after the last commit to a repository and I hope you have a plan to support this.

[2022-03-04 15:57] StephanRaab commented on #100
I can get the badgetextcolor always white to go away with your hack using the empty space `" "`. But this ends up making the badge look oblong on Android in my experience.

![image](https://user-images.githubusercontent.com/8717350/156796616-79d5e70f-23c4-41b5-b90f-2fce2d9f5b98.png)

[2022-03-14 10:43] ramonB1996 commented on #100
Hi @StephanRaab,

Sorry for the late reply, but you are right regarding this problem. What I do is use a `IValueConverter` in my page to make the `BadgeText` different on each platform:

    public class NotificationStateToBadgeTextConverter : IValueConverter
	{
		private const string DefaultAndroidNotificationBadgeText = "o";
		private const string DefaultIOSNotificationBadgeText = " ";

		public

[2022-08-04 04:08] LeoJHarris commented on #104
@xabre also wondering the same. Will this repo be maintained or is it done?

[2022-09-01 09:01] michelmoorlag commented on #99
As for FFImageLoading, don't call
`CachedImageRenderer.InitImageSourceHandler();`
in your AppDeletegate.cs. But keep in mind that you can not use FFimageloading with Xamarin.Forms.Image (any more). In my case I was not using that anyway.